@import "configs/configs.scss";
@import "globals/reset.scss";
@import "globals/global.scss";
@import "components/header.scss";
@import "components/footer.scss";
@import "components/filters.scss";
@import "components/products.scss";

.wrapper {
  margin: 50px 16px 16px 16px;
  display: flex;
  justify-content: center;

  @media (min-width: 320px) and (max-width: 768px) {
    margin-top: 66px;
  }
}